/**
 * Provides ESLint 3.x configuration for TyphonJS ES7+ browser repos. This configuration is rather comprehensive
 * requiring complete documentation and strict styling of source code. All commits and pull requests must use this
 * ESLint configuration.
 */
{
   "extends": "../.eslintrc",

   "env":
   {
      "browser": true
   }
}
