/**
 * Provides ESLint 3.x Babel configuration for TyphonJS ES8+ repos. This configuration is rather comprehensive
 * requiring complete documentation and strict styling of source code. All commits and pull requests must use this
 * ESLint configuration.
 */
{
   "extends": "../.eslintrc",

   "parserOptions":
   {
      "ecmaVersion": 8
   }
}
